webservices/databinding/old/Contacts_Postal_Zipcodes.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<xsd:include schemaLocation="../postal/Contacts_Postal_Codes_Type.xsd"/>

	<xsd:element name="zip_list">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="zip" type="zipcode_type" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="zip_full_list">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="zip" type="zipcode_full_type" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>