webservices/databinding/old/Contacts_Person.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<xsd:include schemaLocation="Contacts_Person_Type.xsd"/>
	<xsd:element name="person">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="profile" type="person_type" minOccurs="1" maxOccurs="1" nillable="true"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="person_list">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="profiles" type="person_type" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>