webservices/databinding/old/RMT2_Payload_Type.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rmt2.net/webservices/schemas" xmlns:tns="http://www.rmt2.net/webservices/schemas">
	<xsd:include schemaLocation="RMT2_Detail_Type.xsd"/>
	<xsd:include schemaLocation="RMT2_Header_Type.xsd"/>
	<xsd:complexType name="Payload_Type">
		<xsd:sequence>
			<xsd:element name="Header" type="tns:RMT2_Msg_Header_Type"/>
			<xsd:element name="Details" type="tns:RMT2_Msg_Detail_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Payload" type="tns:Payload_Type"/>
	
	
</xsd:schema>