old/contacts2/webapp/WEB-INF/classes/com/bean/DataSourceView.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by roy terrell (rmt2 business systems corp) -->
<!-- DTD generated by XML Spy v4.3 U (http://www.xmlspy.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="DataSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Sql"/>
        <xs:element maxOccurs="unbounded" ref="TableUsage"/>
        <xs:element maxOccurs="unbounded" ref="ColAttr"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sql">
    <xs:complexType>
      <xs:attribute name="SELECT" use="required"/>
      <xs:attribute name="FROM" use="required"/>
      <xs:attribute name="WHERE" use="required"/>
      <xs:attribute name="GROUPBY" use="required"/>
      <xs:attribute name="HAVING" use="required"/>
      <xs:attribute name="ORDERBY" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TableUsage">
    <xs:complexType>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="DBName" use="required"/>
      <xs:attribute name="Updateable" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColAttr">
    <xs:complexType>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="DBName" use="required"/>
      <xs:attribute name="SqlType" use="required"/>
      <xs:attribute name="IsNull" use="required"/>
      <xs:attribute name="JavaType" use="required"/>
      <xs:attribute name="PrimaryKey" use="required"/>
      <xs:attribute name="TableName" use="required"/>
      <xs:attribute name="Updateable" use="required"/>
      <xs:attribute name="DisplayHeader" use="required"/>
      <xs:attribute name="Computed" use="required"/>
      <xs:attribute name="DataValue" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
