old/contacts2/src/java/com/bean/DataSource.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by roy terrell (rmt2 business systems corp) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT DataSource (Sql, TableUsage+, ColAttr+)>
<!ATTLIST DataSource
	Name CDATA #REQUIRED
>
<!ELEMENT Sql EMPTY>
<!ATTLIST Sql
	SELECT CDATA #REQUIRED
	FROM CDATA #REQUIRED
	WHERE CDATA #REQUIRED
	GROUPBY CDATA #REQUIRED
	HAVING CDATA #REQUIRED
	ORDERBY CDATA #REQUIRED
>
<!ELEMENT TableUsage EMPTY>
<!ATTLIST TableUsage
	Name CDATA #REQUIRED
	DBName CDATA #REQUIRED
	Updateable CDATA #REQUIRED
>
<!ELEMENT ColAttr EMPTY>
<!ATTLIST ColAttr
	Name CDATA #REQUIRED
	DBName CDATA #REQUIRED
	SqlType CDATA #REQUIRED
	IsNull CDATA #REQUIRED
	JavaType CDATA #REQUIRED
	PrimaryKey CDATA #REQUIRED
	TableName CDATA #REQUIRED
	Updateable CDATA #REQUIRED
	DisplayHeader CDATA #REQUIRED
	Computed CDATA #REQUIRED
	DataValue CDATA #REQUIRED
>
