webservices/databinding/src/xml/schemas/accounting/Accounting_Type.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<xsd:include schemaLocation="../contacts/Contacts_Common_Type.xsd"/>

	<xsd:annotation>
		<xsd:documentation>Type definitions pertaining to General Accounting entities.</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="customer_type">
		<xsd:sequence>
 			<xsd:element name="customer_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="acct_id" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="account_no" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="credit_limit" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="acct_description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="active" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="contact_details" type="business_type" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="customer_criteria_type">
		<xsd:sequence>
			<xsd:element name="customer_id" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="business_id" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="account_no" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="credit_limit" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="active" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="sales_order_type">
		<xsd:sequence>
		    <xsd:annotation>
		    	<xsd:documentation>Sales order header</xsd:documentation>
		    </xsd:annotation>
		    <xsd:element name="sales_order_id" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
		    	<xsd:annotation>
		    		<xsd:documentation>The unique id of the sales order</xsd:documentation>
		    	</xsd:annotation>
		    </xsd:element>
 			<xsd:element name="customer_id" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
 				<xsd:annotation>
 					<xsd:documentation>The customer's unique id.</xsd:documentation>
 				</xsd:annotation>
 			</xsd:element>
			<xsd:element name="invoiced" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Has the sales order been invoiced?  Set to true when invoiced and false otherwise.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="account_no" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The customer's account number.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="credit_limit" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The customer's credit limit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="acct_description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Customer's account description.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="active" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Is the customer currently active? Set to true when active and false otherwise. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="items" type="sales_order_item_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>One or more sales order items.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="order_total" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The sales order total.  This should equal the sum of each item's product (markup * unit_cost * qty).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sales_order_reason" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The description of the sales order reason.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="sales_order_item_type">
		<xsd:annotation>
			<xsd:documentation>The sales order item record.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		    <xsd:element name="sales_order_item_id" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
		    	<xsd:annotation>
		    		<xsd:documentation>The unique id of the sales order item.</xsd:documentation>
		    	</xsd:annotation>
		    </xsd:element>
			<xsd:element name="sales_order_id" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
		    	<xsd:annotation>
		    		<xsd:documentation>The unique id of the sales order for this item</xsd:documentation>
		    	</xsd:annotation>
		    </xsd:element>
 			<xsd:element name="customer_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
 				<xsd:annotation>
 					<xsd:documentation>The customer's unique id for this sales order item.</xsd:documentation>
 				</xsd:annotation>
 			</xsd:element>
			<xsd:element name="item_id" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The unique id of the item.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="item_name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The name or description of the sales order item.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="back_order_qty" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The expected back order quantity of the item.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="markup" type="xsd:decimal" default="0" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The item's mark up value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unit_cost" type="xsd:decimal" default="0" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The unit cost of the item.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="order_qty" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The quantity order for the item.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="sales_order_invoice_result_type">
		<xsd:sequence>
		    <xsd:annotation>
		    	<xsd:documentation>The message returned from a sales order invoice transaction request</xsd:documentation>
		    </xsd:annotation>
			<xsd:element name="return_code" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the return code of sales order transaction which can be translated to the invoice id (not invoice number) of the sales order.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="return_message" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A message describing the results of invoicing the sales order.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		    <xsd:element name="sales_order_id" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
		    	<xsd:annotation>
		    		<xsd:documentation>The unique id of the sales order</xsd:documentation>
		    	</xsd:annotation>
		    </xsd:element>
 			<xsd:element name="customer_id" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
 				<xsd:annotation>
 					<xsd:documentation>The customer's unique id.</xsd:documentation>
 				</xsd:annotation>
 			</xsd:element>
			<xsd:element name="invoice_no" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The invoice reference number of the processed sales order.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="item_count" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The total number of sales order items processed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="account_no" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The customer's account number.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="xact_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The transaction id as a result of invoicing the sales order.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="xact_type_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The transaction type id as a result of invoicing the sales order.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="xact_subtype_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The transaction sub-type id as a result of invoicing the sales order.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="xact_total" type="xsd:decimal" default="0" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The total amount invoiced for this transaction.  This amount should be equal to the sales order total.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="xact_date" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The date and time of the sales order invoice transaction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="xact_reason" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Any special notes regarding the invoiced sales order.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="generic_xact_criteria_type">
	      <xsd:sequence>
		          <xsd:element name="qry_Id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_XactId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_XactAccountNo" type="xsd:string" minOccurs="1" maxOccurs="1" />
				  <xsd:element name="qry_XactAmount_1" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_XactAmount_2" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_XactDate_1" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_XactDate_2" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_XactReason" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_XactReason_ADVSRCHOPTS" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_XactSubtypeId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_XactTypeId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_AccountNo" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_BusinessName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_ConfirmNo" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_InvoiceNo" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_ItemAmount_1" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_ItemAmount_2" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qryRelOp_ItemAmount_1" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qryRelOp_ItemAmount_2" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qryRelOp_XactAmount_1" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qryRelOp_XactAmount_2" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qryRelOp_XactDate_1" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qryRelOp_XactDate_2" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_DateCreated" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_DateUpdated" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				  <xsd:element name="qry_UserId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	      </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="xacttype_type">
	       <xsd:sequence>
			      <xsd:element name="xact_type_id" type="xsd:integer"/>
				  <xsd:element name="code" type="xsd:NCName"/>
				  <xsd:element name="description" type="xsd:string"/>
				  <xsd:element name="to_multiplier" type="xsd:integer"/>
				  <xsd:element name="to_acct_type_id" type="xsd:integer"/>
				  <xsd:element name="from_multiplier" type="xsd:integer"/>
				  <xsd:element name="has_subsidiary" type="xsd:integer"/>
				  <xsd:element name="from_acct_type_id" type="xsd:integer"/>
				  <xsd:element name="to_acct_catg_id" type="xsd:integer"/>
				  <xsd:element name="xact_catg_id" type="xsd:integer"/>
				  <xsd:element name="from_acct_catg_id" type="xsd:integer"/>
		   </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="xact_type">
	      <xsd:sequence>
	       		  <xsd:element name="xact_id" type="xsd:integer"/>
				  <xsd:element name="xact_type_id" type="xsd:integer"/>
				  <xsd:element name="xact_type_name" type="xsd:string"/>
				  <xsd:element name="xact_subtype_id" type="xsd:integer"/>
				  <xsd:element name="xact_amount" type="xsd:decimal"/>
				  <xsd:element name="xact_date" type="xsd:string"/>
				  <xsd:element name="xact_date_str" type="xsd:string"/>
				  <xsd:element name="xact_reason" type="xsd:string"/>
				  <xsd:element name="account_no" type="xsd:NCName"/>
				  <xsd:element name="business_id" type="xsd:integer"/>
				  <xsd:element name="business_name" type="xsd:string"/>
				  <xsd:element name="confirm_no" type="xsd:string"/>
				  <xsd:element name="document_id" type="xsd:integer"/>
				  <xsd:element name="invoice_no" type="xsd:string"/>
				  <xsd:element name="item_total" type="xsd:decimal"/>
				  <xsd:element name="items" type="xact_item_type" minOccurs="0" maxOccurs="unbounded"/>
	      </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="xact_item_type">
	      <xsd:sequence>
		          <xsd:element name="item_id" type="xsd:integer"/>
	       		  <xsd:element name="xact_id" type="xsd:integer"/>
				  <xsd:element name="itemtype_id" type="xsd:integer"/>
				  <xsd:element name="name" type="xsd:string"/>
				  <xsd:element name="amount" type="xsd:decimal"/>
	      </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="xact_itemtype_type">
	      <xsd:sequence>
		          <xsd:element name="itemtype_id" type="xsd:integer"/>
	       		  <xsd:element name="xact_type_id" type="xact_type"/>
				  <xsd:element name="name" type="xsd:string"/>
	      </xsd:sequence>
    </xsd:complexType>

</xsd:schema>